name: Update flake inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  update-flake:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{secrets.PAT_TOKEN}}
      - uses: cachix/install-nix-action@v25

      - name: Update flake inputs
        run: nix flake update

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: flake.lock
          default_author: github_actions
          message: "update inputs"
